/*-- scss:defaults --*/
$presentation-heading-color: #2c3e50;
$link-color: #3498db;

/*-- scss:rules --*/
.callout-warning {
  border-left-color: #f39c12;
}

.callout-important {
  border-left-color: #e74c3c;
}

.callout-caution {
  border-left-color: #c0392b;
}